body{
    background-color: beige
}
header{
    text-align: center;
}
form{
    background-color: azure;
    border-radius: 0.5%;
    
}
.rowContainer{
    margin: 20px;
    display: flex;
}
.leftSide{
    display: flex;
    margin: 10px;
    justify-content: flex-end;
    width:45%;
}
.leftside label{
    justify-content: flex-end;
}
.rightSide{
    margin-top: 10px;
    width: 45%;
}
.rightSide input{
    width: 60%;
}